In [12]:
#import Libraries
import pandas as pd

data = {
    'date': ['2021-12-01', '01-12-2022', '2022/12/01', '12-01-2021'],
    'country': ['USA', 'U.S.A.', 'America', 'United States'],
    'name': ['Aammar', 'Amaar', 'Hamza', 'Hazma'],
    'sales_2020': [100, 200, None, 200],
    'sales_2021': [None, 150, 300, 150]
}

#make pandas data frame
dat = pd.DataFrame(data)

In [28]:
dat.head()

         date country   name  sales_2020  sales_2021
0  01-12-2021     USA  Amaar       100.0       200.0
2  01-12-2021     USA  Hamza       167.0       300.0

In [30]:
#Standarizing the date format
dat['date'] = pd.to_datetime(dat['date'], errors="coerce")
dat['date'] = dat['date'].dt.strftime('%d-%m-%Y')

In [29]:
dat.isnull().sum().sort_values(ascending=False)

date          0
country       0
name          0
sales_2020    0
sales_2021    0
dtype: int64

In [15]:
#Imputing missing values of dates using forward fill
dat['date'] = dat['date'].ffill()

In [19]:
#importing library for simple imputation
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy="mean")
dat['sales_2020'] = imputer.fit_transform(round( dat[['sales_2020']]), 2)
dat['sales_2021'] = imputer.fit_transform(round (dat[['sales_2021']]),2)

In [25]:
#Harmonizing Names

country_mapping = {'U.S.A.': 'USA', 'America': 'USA', 'United States': 'USA'}
name_mapping = {'Aammar': 'Amaar', 'Hazma': 'Hamza'}
dat['country'] = dat['country'].replace(country_mapping)
dat['name'] = dat['name'].replace(name_mapping)

In [27]:
dat = dat.drop(dat[dat['sales_2021']< dat['sales_2020']].index)