In [33]:
#import libraries
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler, MaxAbsScaler, RobustScaler

data = {
    'Names': ['Wahaj', 'Abdullah', 'Ahmad', 'Naeem','Hanzla'],
    'Age': [22, 21, 23, 21, 22],
    'Weight': [55, 45, 56, 57, 60],
}

df = pd.DataFrame(data)
df

      Names  Age  Weight
0     Wahaj   22      55
1  Abdullah   21      45
2     Ahmad   23      56
3     Naeem   21      57
4    Hanzla   22      60

In [34]:
#Scaling Data
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df[['Age', 'Weight']])
scaled_data = pd.DataFrame(scaled_data, columns=['Age', 'Weight'])
scaled_data

        Age    Weight
0  0.267261  0.078689
1 -1.069045 -1.888535
2  1.603567  0.275411
3 -1.069045  0.472134
4  0.267261  1.062301

# Robust Scalling

In [35]:
#Scalling Data uisng Robust Scaler
scaler = RobustScaler()
scaled_data = scaler.fit_transform(df[['Age', 'Weight']])
scaled_data = pd.DataFrame(scaled_data, columns=['Age', 'Weight'])
scaled_data

   Age  Weight
0  0.0    -0.5
1 -1.0    -5.5
2  1.0     0.0
3 -1.0     0.5
4  0.0     2.0

# Max Absolute Scalar

In [36]:
#Scalling Data uisng Max Absolute Scalar
scaler = MaxAbsScaler()
scaled_data = scaler.fit_transform(df[['Age', 'Weight']])
scaled_data = pd.DataFrame(scaled_data, columns=['Age', 'Weight'])
scaled_data

        Age    Weight
0  0.956522  0.916667
1  0.913043  0.750000
2  1.000000  0.933333
3  0.913043  0.950000
4  0.956522  1.000000

# Min Max Scalar

In [37]:
#Scalling Data uisng MinMaxScaler
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(df[['Age', 'Weight']])
scaled_data = pd.DataFrame(scaled_data, columns=['Age', 'Weight'])
scaled_data

   Age    Weight
0  0.5  0.666667
1  0.0  0.000000
2  1.0  0.733333
3  0.0  0.800000
4  0.5  1.000000