In [71]:
#Import Libraries
import pandas as pd
import numpy as np

data_read = pd.read_excel("C:/Users/Wahaj Sajid/Downloads/University Students Data.xlsx")

data = pd.DataFrame(data_read)
data

,Timestamp,Full Name,Reg No#,Department,Current Semester,Current CGPA
0,2025-02-12 18:21:03.576,Ma nhi batau ga,444,Null,Int,Float
1,2025-02-12 18:08:14.325,aqib waheed,23-cuvas-0285,Bscs,4,4/4
2,2025-02-12 18:58:50.298,Arbaz Raza Mallik,22-CUVAS-0136,BS Computer science,6th,3. 3
3,2025-02-12 17:22:19.195,Muhammad Wahaj Sajid,22-CUVAS-0119,Computer Sciences,6th,3.86
4,2025-02-12 14:32:15.219,Fatima Hashmi,22-CUVAS-0123,Computer science,6th Semester,3.83
5,2025-02-12 18:10:38.662,Muhammed mehroz qureshi,23-cuvas-0246,BSCS,4,3.79
6,2025-02-12 17:12:06.491,Mohammad Haroon,22-CUVAS-0137,Computer science,6,3.68
7,2025-02-12 14:57:37.192,Basit Ali,22-CUVAS-0650,BSCS,6th,3.63
8,2025-02-12 21:48:44.420,Umama Shafique,22-cuvas-0121,CS,6th,3.53
9,2025-02-12 12:50:05.843,Samiullah,22-cuvas-0134,Bs cs,6th,3.48
10,2025-02-12 13:52:13.921,HASNAIN RAZA,22-CUVAS-0139,BSCS,6,3.36
11,2025-02-12 12:47:30.522,Menahil Zahid,22-CUVAS-0149,Bs Computer Science,6th,3.31
12,2025-02-12 19:58:34.203,Umaima Tajjamul,0270,Cs,4th,3.28
13,2025-02-12 18:30:24.291,Muhammad Amjad,23-CUVAS-0256,Computer science,4th Semester,3.24
14,2025-02-12 13:13:27.795,Muhammad Awais,22-cuvas-0148,Computer science,6th,3.2
15,2025-02-12 13:13:14.598,Muhammad Ans,22-CUVAS-0133,B's Computer Science,6th,2.97

In [72]:
data.drop(index=0)

,Timestamp,Full Name,Reg No#,Department,Current Semester,Current CGPA
1,2025-02-12 18:08:14.325,aqib waheed,23-cuvas-0285,Bscs,4,4/4
2,2025-02-12 18:58:50.298,Arbaz Raza Mallik,22-CUVAS-0136,BS Computer science,6th,3. 3
3,2025-02-12 17:22:19.195,Muhammad Wahaj Sajid,22-CUVAS-0119,Computer Sciences,6th,3.86
4,2025-02-12 14:32:15.219,Fatima Hashmi,22-CUVAS-0123,Computer science,6th Semester,3.83
5,2025-02-12 18:10:38.662,Muhammed mehroz qureshi,23-cuvas-0246,BSCS,4,3.79
6,2025-02-12 17:12:06.491,Mohammad Haroon,22-CUVAS-0137,Computer science,6,3.68
7,2025-02-12 14:57:37.192,Basit Ali,22-CUVAS-0650,BSCS,6th,3.63
8,2025-02-12 21:48:44.420,Umama Shafique,22-cuvas-0121,CS,6th,3.53
9,2025-02-12 12:50:05.843,Samiullah,22-cuvas-0134,Bs cs,6th,3.48
10,2025-02-12 13:52:13.921,HASNAIN RAZA,22-CUVAS-0139,BSCS,6,3.36
11,2025-02-12 12:47:30.522,Menahil Zahid,22-CUVAS-0149,Bs Computer Science,6th,3.31
12,2025-02-12 19:58:34.203,Umaima Tajjamul,0270,Cs,4th,3.28
13,2025-02-12 18:30:24.291,Muhammad Amjad,23-CUVAS-0256,Computer science,4th Semester,3.24
14,2025-02-12 13:13:27.795,Muhammad Awais,22-cuvas-0148,Computer science,6th,3.2
15,2025-02-12 13:13:14.598,Muhammad Ans,22-CUVAS-0133,B's Computer Science,6th,2.97

In [ ]:



acutal_value = "Computer Sciences"
departmet_changes = {"Bscs": acutal_value, "BS Computer science" :acutal_value, "Computer science": acutal_value, "BSCS":acutal_value, "CS":acutal_value, "Bs cs": acutal_value, "Bs Computer Science": acutal_value, "Cs" :acutal_value, "B's Computer Science":acutal_value}
semester_changes = {"6th": "6", "6th Semester": "6", "4th":"4", "4th Semester":"4"}
data['Department'] = data["Department"].replace(departmet_changes)
data["Current Semester"] = data["Current Semester"].replace(semester_changes)

In [85]:
data['Current CGPA'] = pd.to_numeric(data['Current CGPA'], errors='coerce')

In [91]:
#Imputing null values
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='median')
data.loc[2, "Current CGPA"] = 3.3
data.loc[1, "Current Semester"] = 4
data.loc[4,"Current Semester"] = 6
data.loc[13,"Current Semester"] = 4
data['Current CGPA'] = imputer.fit_transform(data[['Current CGPA']])
data['Current CGPA'].sort_values(ascending=False)
data.drop(index=0)

,Timestamp,Full Name,Reg No#,Department,Current Semester,Current CGPA
1,2025-02-12 18:08:14.325,aqib waheed,23-cuvas-0285,Computer Sciences,4,3.48
2,2025-02-12 18:58:50.298,Arbaz Raza Mallik,22-CUVAS-0136,BS Computer science,6,3.30
3,2025-02-12 17:22:19.195,Muhammad Wahaj Sajid,22-CUVAS-0119,Computer Sciences,6,3.86
4,2025-02-12 14:32:15.219,Fatima Hashmi,22-CUVAS-0123,Computer science,6,3.83
5,2025-02-12 18:10:38.662,Muhammed mehroz qureshi,23-cuvas-0246,Computer Sciences,4,3.79
6,2025-02-12 17:12:06.491,Mohammad Haroon,22-CUVAS-0137,Computer science,6,3.68
7,2025-02-12 14:57:37.192,Basit Ali,22-CUVAS-0650,Computer Sciences,6,3.63
8,2025-02-12 21:48:44.420,Umama Shafique,22-cuvas-0121,Computer Sciences,6,3.53
9,2025-02-12 12:50:05.843,Samiullah,22-cuvas-0134,Computer Sciences,6,3.48
10,2025-02-12 13:52:13.921,HASNAIN RAZA,22-CUVAS-0139,Computer Sciences,6,3.36
11,2025-02-12 12:47:30.522,Menahil Zahid,22-CUVAS-0149,Computer Sciences,6,3.31
12,2025-02-12 19:58:34.203,Umaima Tajjamul,0270,Computer Sciences,4,3.28
13,2025-02-12 18:30:24.291,Muhammad Amjad,23-CUVAS-0256,Computer science,4,3.24
14,2025-02-12 13:13:27.795,Muhammad Awais,22-cuvas-0148,Computer science,6,3.20
15,2025-02-12 13:13:14.598,Muhammad Ans,22-CUVAS-0133,B's Computer Science,6,2.97